    <section>
        <h2 class="main-title-large center padding">Ferdigheter</h2>
    </section>

    <section class="grid-system-2 w-900 padding">
        <section>
            <h3 class="main-title bold">Mine styrker</h3>
            <section class="skills">
                <ul class="no-bullet-list no-padding-list-item">
                    <li>
                        <p>Frontend</p>
                        <span class="progress-bar"><span class="php"></span></span>
                    </li>
                    <li>
                        <p>backend</p>
                        <span class="progress-bar"><span class="css"></span></span>
                    </li>
                    <li>
                        <p>testing</p>
                        <span class="progress-bar"><span class="javascript"></span></span>
                    </li>
                    <li>
                        <p>deployment</p>
                        <span class="progress-bar"><span class="javascript"></span></span>
                    </li>
                </ul>
            </section>
        </section>
        <section class="justify">
            <h3 class="main-title bold">Hva kan jeg fra før</h3>
            <p>Jeg har fått erfaring med teknologier som HTML, CSS, JavaScript, Node.js, Express, REST API's, Testing (Unit, Integration, TDD) og 
                databaser som NoSQL, SQL, GraphQL. Jeg har også god kjennskap til testverktøy som Postman, Swagger og jeg er åpen for å lære nye verktøy </p>
            
            <p>Jeg er en fleksibel, kreativ systematiker med fokus på selvforbedring og innovative løsninger. </p>
            <p>For å holde meg oppdatert deltar jeg på meetups som ATEA Community og investerer mye tid i selvstudier og tutorials.</p>
        </section>
    </section>

    <!-- soft skills -->
    <section class="grid-system-2 w-900 padding">
        <section class="justify grid-flip">
            <h3 class="main-title bold">Hvordan er jeg å jobbe med</h3>
            <p>Teamarbeid er både givende og morsomt for meg. Med åtte år i salg og kundeservice, inkludert erfaring fra Kverneland Bil
            og Tesla, har jeg lært å skape gode kundeopplevelser, smidige løsninger og bygge tillit over tid.</p>

            <p>Mitt mål er å gjøre teknologi brukervennlig og samtidig skape positiv endring. Jeg tror min varierte bakgrunn gir meg en
            unik innsikt og en salgsorientert tilnærming som kan tilføre verdi. </p>
            <p>Jeg er en utadvendt "doer", åpen og ærlig, med et genuint selger-mindset. Jeg forstår viktigheten av å dele kunnskap og
            streber alltid etter å bli bedre enn jeg var i går.
            </p>
           
        </section>
        <section>
            <h3 class="main-title bold">Profesjonelle ferdigheter</h3>
            <section class="skills">
                    <ul class="no-bullet-list no-padding-list-item">
                        <li>
                            <p><span class="colorful-letter">kommunikasjon</span>
                                <br>- åpen og ærlig
                                <br>- hyggelig & utadvent
                                <br>- selger av natur
                            </p>
                            <span class="progress-bar"><span class="comm-adapt"></span></span>
                        </li>
                        <li>
                            <p><span class="colorful-letter">teamaorientert</span>
                                <br>- presis
                                <br>- sharing is caring
                            </p>
                            <span class="progress-bar"><span class="team-player"></span></span>
                        </li>
                        <li>
                            <p><span class="colorful-letter">problemløser</span>
                                <br>- "doer"-mentalitet
                    
                            </p>
                            <span class="progress-bar"><span class="comm-adapt"></span></span>
                        </li>
                        <li>
                            <p><span class="colorful-letter">smidig metodikk & Kanban/Scrum</span>
                                <br>- Azure/Jira/confluence
                            </p>
                            <span class="progress-bar"><span class="php"></span></span>
                        </li>
                    
                    </ul>
            </section>
        </section>
    </section>

    <!--future plans in skill development-->
    <!-- tell about how you improve your knowledge, if you have something important, the "colorful-letter" class may come handy, use it anywhere -->
    <section class="w-900">
        <section class="baby-pink-light">
            <h3 class="main-title padding-top">Min plan videre</h3>
            <section class="justify">
                <p class="bold">
                    Mitt mål er å bli en senior fullstack-utvikler.
                </p>
                <p>
                    Jeg vil fortsette å studere videre om nødvendig for å bli en enda bedre utvikler. Jeg ser først og fremst etter en plass jeg kan slå meg til ro, hvor jeg kan suge til meg alt jeg klarer av faglig stoff.

                </p>
                <p>Å bli knallgod i AI/KI har vært en drøm for meg lenge, og jeg ser etter en arbeidsgiver som tør å satse på nye teknologier.</p>
               
                
            </section>
        </section>
    </section>