<footer class="footer">
    <div class="contact-info bold ">
        <p>Email: <a href="mailto:erikrassmussen0@gmail.com">erikrassmussen0@gmail.com</a></p>
        <p>Phone: <a href="tel:+4790906510">+ 47 90906510</a></p>
    </div>
</footer>