<section id="contact-me" class="grid-system-2 w-900 padding">
    <section class="margin-auto">
        <img class="max-width max-height header-img" style="width:300px; border-radius: 8px;" src="./../data/img/Designer (1).jpeg"
            alt="contact-me-illustration">
    </section>
    <section class="margin-auto align-center">
        <h1 class="medium-spacing center">Kontakt meg!<span></span></h1>
        <section>
        <ul class="no-bullet-list no-padding-list-item">
            <li>
                <p>Telefon
            <li>+47 90 90 65 10</li>
            </p>
            </li>
            <li>
                <p>Email
            <li>erikrassmussen0@gmail.com</li>
            </p>
            </li>
        </ul>
        </section>
    <section class="margin-auto padding-top grid-system-2">
        <span class="contact-item">
            <a href="https://github.com/rasme95"  target="_blank">
                <img class="contact " style=""  src="./../../images/github.png" alt="GitHub">
            </a>
        </span>
        <span class="contact-item ">
            <a  target="_blank" href="https://www.linkedin.com/in/erik-rasmussen-077684131/">
                <img class="contact smaller-img" src="./../../data/img/LinkedIn-Logo.wine.svg" alt="LinkedIn">
            </a>
            <p class="padding-top">
            </p>
        </span>
    </section>

        
         
    </section>

          

</section>