<section id="contact-me" class="grid-system-2 w-900 padding">
    <section class="margin-auto">
        <img class="max-width max-height" style="width:300px; border-radius: 8px;" src="./../data/img/Designer (1).jpeg"
            alt="contact-me-illustration">
    </section>
    <section class="margin-auto align-center">
        <h1 class="medium-spacing center">Kontakt meg!<span></span></h1>
        <section>
        <ul class="no-bullet-list no-padding-list-item">
            <li>
                <p>Telefon
            <li>+47 90 90 65 10</li>
            </p>
            </li>
            <li>
                <p>Email
            <li>erikrassmussen0@gmail.com</li>
            </p>
            </li>
        </ul>
        </section>
        <section class="box-contact margin-auto padding-top">
            <span>
                <a href="https://www.linkedin.com/in/erik-rasmussen-077684131/" target="_blank"><img class="logo"
                        src="assets/linkedin.png" alt=""></a>
            </span>
            <span>
                <a href="https://github.com/rasme95" target="_blank"><img class="logo" src="assets/github.png"
                        alt=""></a>
            </span>
            <span>
                <a href="mailto:erikrassmussen0@gmail.com" target="_blank"><img class="logo" src="assets/email.png"
                        alt=""></a>
            </span>
        </section>
         
    </section>
</section>