<section>
    <nav class="sticky">
        <label for="drop" class="toggle" id="main-toggle">
            <span class="nav-icon"></span>
        </label>
        <input type="checkbox" id="drop">
        <ul class="main-nav bold">
            <li><a href="/">Hjem</a></li>
            <li><a href="/om">Om meg</a></li>
            <li><a href="/ferdigheter">Ferdigheter</a></li>
            <li><a href="/prosjekter">Prosjekter</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
            <li><a href="./../../../assets/CV/Erik Rasmussen CV 2024.pdf"  download="Erik Rasmussen CV 2024.pdf">CV <img class="cv-download" src="./../../images/download.svg" alt="cv-download"></a></li>
        </ul>
    </nav>
</section>