    <section class="grid-system-2 w-900 padding">
        <section class="center align-center">
            <img class="max-width header-img" src="./../data/img/Designer (2).jpeg" alt="picture-of-me">
        </section>
        <section class="justify">
            <h2 class="main-title-large">Hvem er jeg?</h2>
            <p>Jeg heter Erik Rasmussen, en 29 år gammel mann fra Bergen som elsker å være aktiv! Alt fra sykling til styrketrening, gaming, løping, fjellturer og hiking.</p>
            <p>Beskrives som en omgjengelig, kreativ problemløser som inkluderer og ønsker de rundt meg vel. </p>
            <p>Jeg er alltid nysgjerrig på teknologiske nyvinninger og tenker helhetlig. Jeg er ivrig etter å lære, løsnings-orientert og tør å utfordre
            for å skape verdi. Jeg motiveres av å være en del av et lag som jobber smidig og dynamisk.</p>            


          
            <p></p>
        </section>
    </section>


    <!-- section2 - background story -->
    <!-- use this section to tell, why did you choose programming -->
    <section class="grid-system-2 w-900 padding">
        <section class="justify">
            <h2 class="main-title-large center">Hvordan reisen startet</h2>
            <p>Etter seks år som bilselger valgte jeg i oktober 2023 å si opp en trygg jobb for å følge min tilbakevendende lidenskap
            for teknologi. Jeg begynte utdanningen som backend-utvikler ved Noroff University, og fullfører studiene i desember
            2024.</p>
            <p class="italic bold">"Jobben skal bety mye, men aldri alt. En god arbeids-plass gir rom for både innsats og livet utenfor."</p>
            <p>Min erfaring som assistant manager i REMA 1000 har gitt meg verdifull innsikt i effektiv kommunikasjon og samspill med
            mennesker. Gjennom rollen som bilselger har jeg utviklet en sterk evne til å identifisere og forstå kunders behov, noe
            som har styrket min kompetanse i å tilpasse løsninger for ulike ønsker og forventninger.
            </p>
        </section>
        <section class="center align-center">
<img class="max-width smaller-img"  src="./../../data/img/REMA.png" alt="story-of-myself">
<img class="max-width smaller-img" src="./../../data/img/2e8789c037d05612620b5a8af346a78340eae13e-3999x1640-1-1024x427.png" alt="story-of-myself">
<img class="max-width smaller-img" src="./../../data/img/tesla.svg"
    alt="story-of-myself">

        </section>
    </section>


    <!-- section3 - future plans -->
    <!-- great way to show that you are always involved -->
    <section class="w-900">
        <section class="baby-pink-light ">
            <h3 class="main-title center">Hva skjer videre</h3>
            <ul class="justify padding-list-10">
                <li class="no-padding-list-item"> 
                    <p>Jeg ser frem til et spennende år på skolen! Fra januar til desember skal vi blant annet 
                        <span class="bold colorful-letter">gjøre ett dypdykk i .NET og utforske mer frontend</span> 
                        for å ta steget mot å bli en fullverdig
                        <span class="bold colorful-letter link"><a class="link" href="https://www.noroff.no/studier/fagskole/backend-utvikling-2-aarig" target="_blank">fullstack utvikler (trykk på meg).</a></span> 
                        Jeg er klar for utfordringene og mulighetene som venter!                
                </li> 
                <li class="no-padding-list-item">
                    For øyeblikket har jeg <span class="bold uppercase colorful-letter">flere pågående prosjekter</span>. 
                    en av dem lager jeg for å å bli bedre på Typescript. Det andre skal gi meg god kunnskap om Docker, AWS og Kubernetes.
                </li> <br>
                <li class="no-padding-list-item">
                Jeg har et ønske om å holde meg oppdatert på den nyeste teknologien, og jeg er fleksibel når det gjelder å kombinere
                jobb med videre studier og faglig påfyll
                    <span class="bold"></span>.
                </li>
            </ul>
        </section>
    </section>

    <!-- section4 - hobbies -->
    <!-- this is a 4 grid hobby-system, maybe you have more hobbies, then double it...
     or double it and modify it to the class "grid-system-2" so you can have 6 hobbies all together, it's all your choice  -->
</body>

</html>