    <section class="grid-system-2 w-900 padding">
        <section class="center align-center">
            <img class="max-width" style="border-radius: 50px;"src="./../data/img/Designer (2).jpeg" alt="picture-of-me">
        </section>
        <section class="justify">
            <h2 class="main-title-large">Hvem er jeg?</h2>
            <p>Jeg heter Erik Rasmussen, en 29 år gammel mann som elsker å være aktiv! Alt fra sykling til styrketrening, gaming, løping, fjellturer og hiking.</p>
            <p>Den personen som alltid sprer godt humør, er inkluderende og ønsker alle vel. Den som ser andre og gir andre den støtten de trenger.</p>
            <p>Jeg har en kjæreste og en katt.</p>


          
            <p></p>
        </section>
    </section>


    <!-- section2 - background story -->
    <!-- use this section to tell, why did you choose programming -->
    <section class="grid-system-2 w-900 padding">
        <section class="justify">
            <h2 class="main-title-large center">Hvordan reisen startet</h2>
            <p>Etter et halvt tiår som bilselger valgte jeg i oktober 2023 å si opp den trygge jobben min for å følge min lidenskap for
            teknologi. Jeg startet utdannelsen for å bli Backend-utvikler ved Noroff University, og fullfører studiene i desember
            2024.</p>
            <p class="italic bold">"Jobben skal være livet, men med en sunn tilnærming"</p>
            <p>Jeg har bred erfaring fra kundeservice og salg. Jeg kan beskrives som en 
            </p>
        </section>
        <section class="center align-center">
            <img class="max-width" style="border-radius: 50px;" src="./../../data/img/Designer (1).jpeg" alt="story-of-myself">
        </section>
    </section>


    <!-- section3 - future plans -->
    <!-- great way to show that you are always involved -->
    <section class="w-900">
        <section class="baby-pink-light">
            <h3 class="main-title center">Hva skjer videre</h3>
            <ul class="justify padding-list-10">
                <li class="no-padding-list-item">
                    Jeg skal ta ett år til på skolen. Dette året vil starte i januar og forløpe seg til desember. Vi skal da blant annet <span
                        class="bold colorful-letter">lære mer om .NET, og mer frontend </span> for å kunne bli en fullverdig <span
                        class="bold colorful-letter"><a class="link" href="https://www.noroff.no/studier/fagskole/backend-utvikling-2-aarig"
                            target="_blank">fullstack utvikler(trykk på meg).</a></span>
                </li> <br>
                <li class="no-padding-list-item">
                    Jeg jobber foreløpig også to andre jobber for å finansere skolen, og vil nok fortsette dette sporet frem til jeg har en annen jobb<span
                        class="bold colorful-letter"></span>
                </li><br>
                <li class="no-padding-list-item">
                    Jeg har akkurat nå <span class="bold uppercase colorful-letter">flere pågående prosjekter</span>. 
                    en av dem lager jeg for å å bli bedre på Typescript. Det andre skal gi meg god kunnskap om AWS og Kubernetes som er viktige teknologier å lære.
                </li> <br>
                <li class="no-padding-list-item">
                    Something you are already proud of? A great project, or achievement? Don't forget to mention it.
                    Maybe
                    you may speak about the most important concepts you have encountered so far <span class="bold">bla
                        bla,
                        bla blabla, blabla bla, bla and the bla</span>. And some other stuff..
                </li>
                <p>Jeg er rette personen for dere om dere er ute etter<span class="italic">en sosial problemløser som gir alt hver dag, for det gjør jeg.</span> </p>
            </ul>
        </section>
    </section>

    <!-- section4 - hobbies -->
    <!-- this is a 4 grid hobby-system, maybe you have more hobbies, then double it...
     or double it and modify it to the class "grid-system-2" so you can have 6 hobbies all together, it's all your choice  -->
    <section class="margin-trbl10">
        <section>
            <h3 class="main-title center padding">Hobbies and Free Time Activities</h3>
        </section>
        <section class="grid-system-4 w-900">
            <section class="card small-card justify">
                <img class="box margin-auto hobbies" src="assets/dog.png" alt="hobbies1">
                <p class="bold center">Koding</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur eum rerum provident laudantium
                    modi veniam accusamus reiciendis id itaque iure qui, corrupti repellendus ipsam neque! Fuga
                    architecto laborum vitae quibusdam?</p>
            </section>
            <section class="card small-card justify">
                <img class="box margin-auto hobbies" src="assets/board-game.png" alt="hobbies2">
                <p class="bold center">Sykling</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime dignissimos et, magnam aperiam
                    distinctio, asperiores est laborum deserunt reprehenderit, praesentium accusamus dolorum illum.
                    Voluptatum non mollitia in neque dolore corporis!</p>
            </section>
            <section class="card small-card justify">
                <img class="box margin-auto hobbies" src="assets/coding.png" alt="hobbies3">
                <p class="bold center">Trening</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem, provident? Amet quam id veritatis,
                    similique distinctio quibusdam, velit ex sed impedit natus corporis vel. Iste iusto nobis veritatis
                    inventore quibusdam.</p>
            </section>
            <section class="card small-card justify">
                <img class="box margin-auto hobbies" src="assets/plot-reading.png" alt="hobbies4">
                <p class="bold center">Alt annet rart</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus facilis, repellat animi eum ab
                    dolores neque, pariatur, molestias inventore soluta voluptatum a deleniti fugit natus ullam modi
                    debitis sunt sapiente.</p>
            </section>
        </section>
    </section>
</body>

</html>