<section>
    <h2 class="main-title-large center padding">Prosjekter</h2>
</section>

   <section class="grid-system-2 w-900 padding">
        <section class="justify align-center">
            <h3 class="main-title padding-top bold">AI</h3>
            <p class="bold">CHATBOT om Erik Rasmussen</p>
            <p>Jeg har laget en CHATBOT om meg selv ved hjelp av OpenAI API
            </p>
            <p class="padding-top"><a href="project1.html" class="button-outline">CHATBOT Link</a></p>
        </section>
        <section class="center">
            <p><img class="max-width" src="../../images/1_zlt_wRZCGofSbmSqduds9w.png" alt="project1">
        </section>
    </section>

    <!-- project2 -->
    <section class="grid-system-2 w-900 padding">
        <section class="justify align-center">
            <h3 class="main-title padding-top bold">Nettside </h3>
            <p class="bold">Angelsen Byggservice</p>
           <p> Prosjektet ble laget freelance - dette er mitt aller første prosjekt. En nettside laget for Angelsen Byggservice på bestilling. Oppdragsgiver hadde behov for en enkel nettside med enkel
                kontaktinfo og illustrative bilder.</p>
            <p class="padding-top"><a href="https://www.angelsenbyggservice.no" class="button-outline">Nettside Link</a></p>
        </section>
        <section class="center padding-top align-center">
        <p><a href="https://www.angelsenbyggservice.no"><img class="max-width" style="border-radius: 800px;"
            src="../../data/img/byggservice.png" alt="project2"></a></p>        </section>
    </section>

    <!-- project3 -->
    <section class="grid-system-2 w-900 padding">
        <section class="justify">
            <h3 class="main-title padding-top bold">Følg meg gjerne</h3>
            <p class="bold">Sjekk gjerne ut min GitHub:</p>
          
            <p class="padding-top"><a href="https://github.com/rasme95" class="button-outline">GitHub Link</a></p>
        </section>
        <section class="center">
            <p><a href="https://github.com/rasme95" ><img class="max-width" src="../../images/github.png" alt="project3"></a>
        </section>
    </section>

