<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header id="home">
        <%- include('partials/navbar') %>

            <div class="container-fluid header-content">
                <div class="row">
                    <div class="col">
                        <div class="content-box text-center text-light">
                            <h1>Velkommen test til min nettside</h1>
                            <p>Ett av mine mange prosjekt</p>
                        </div>
                    </div>
                </div>
            </div>
    </header>

    <%- include('partials/footer') %>
        <%- include('./partials/scripts.ejs') %>
</body>

</html>