<!DOCTYPE html>
<html lang="en">

<head>
    <title> Ferdigheter | Erik Rasmussen</title>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/navbar') %>
        <%- include('partials/ferdigheter') %>
</body>

</html>