<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hjem | Erik Rasmussen </title>
  <%- include('partials/head') %>

</head>

<body>
  <%- include('partials/navbar') %>


  <!-- introduction -->
  <header class="grid-system-2 w-900 padding">
    <section class="align-center">
      <h1 class="large">Erik Rasmussen</h1>
      <p class="justify">Nyutdannet utvikler med spesialisering i Backend Development. Fokus på solide løsninger og effektiv koding. Over ti års erfaring
        fra bilsalg, kundeservice og ledelse.</p>
    </section>
    <section class="center align-center">
      <img class="header-img max-width max-height" src="./../data/img/IMG_4876.jpg" alt="profile-picture">
    </section>
  </header>

  <article class="baby-pink bold">
    <p>..og dette er bare begynnelsen!</p>
  </article>

  <section class="wrapper">
    <section class="margin-auto">
      <img class="max-width max-height ommeg " src="./../data/img/VSC blurred.webp" alt="about-me-logo">
    </section>
    <section class="justify align-center ">
      <p class="bold main-title ">Om meg</p>
      <p>Jeg har en variert bakgrunn fra blant annet bilsalg, kundeservice og retail. Jeg har jobber hos kjente selskaper som
        Tesla og Kverneland Bil AS. Mine tidligere erfaringer har gitt meg sterke ferdigheter innen kundeservice, porteføljeforvaltning og salg.</p>
      <p>Nå fokuserer jeg på webutvikling og har tilegnet meg solid erfaring med kjente teknologier som HTML/CSS, JavaScript, Node.js og SQL/NoSQL.
        Min utdannelse i Backend Development ved Noroff School of Technology and Digital
        Media, har gitt meg verdifull praktisk erfaring.</p>
    </section>
  </section>

  <section>
    <h3 class="main-title center bold">Ferdigheter</h3>
  </section>
  <section class="wrapper">
    <section class="column">
      <p class="padding-bottom bold">Teknologier</p>
      <section class="skills">
        <ul class="no-bullet-list no-padding-list-item">
          <li>
            <p><span class=" colorful-letter">frontend </span>
              <br>- html & css, Bootstrap, Sweetalert
              <br>- jQuery/javascript
            </p>
            <span class="progress-bar"><span class="php"></span></span>
          </li>
          <li>
            <p><span class="colorful-letter">backend </span>
              <br>- Node.js & Express
              <br>- javascript
              <br>- REST API
            </p>
            <span class="progress-bar"><span class="css"></span></span>
          </li>
          <li>
            <p><span class="colorful-letter">Database </span>
              <br>- mysql
              <br>- mongodb
              <br>- graphql
              <br>- redis
            </p>
            <span class="progress-bar"><span class="css"></span></span>
          </li>
          <li>
            <p><span class=" colorful-letter">deployment </span>
              <br>- vercel
              <br>- Netlify
              <br>- aiven
              <br>- render
            </p>
            <span class="progress-bar"><span class="javascript"></span></span>
          </li>
        </ul>
      </section>
    </section>
    <section class="column">
      <p class="padding-bottom bold">Profesjonelle ferdigheter</p>
      <section class="skills">
        <ul class="no-bullet-list no-padding-list-item">
         
          <li>
            <p><span class=" colorful-letter">teamaorientert</span>
              <br>- presis og klar
              <br>- sharing is caring
            </p>
            <span class="progress-bar"><span class="team-player"></span></span>
          </li>
          <li>
            <p><span class=" colorful-letter">kommunikasjon</span>
              <br>- åpen og ærlig
              <br>- hyggelig & utadvent
              <br>- selger av natur
            </p>
            <span class="progress-bar"><span class="comm-adapt"></span></span>
          </li>
          <li>
          </li>
          <li>
            <p><span class=" colorful-letter">åpenhet</span>
              <br>- en som bryr seg om andre
              <br>
              <br><span class=" colorful-letter">problemløser</span>
              <br>- "DO IT "-mentalitet
            </p>
            <span class="progress-bar"><span class="team-player"></span></span>
          </li>
          <li>
            <p><span class=" colorful-letter">Smidig utviklingsmetodikk </span>
              <br>- Kanban
              <br>- Scrum
              <br>- Azure
              <br>- Jira/confluence
             
            </p>
            <span class="progress-bar"><span class="php"></span></span>
          </li>

        </ul>
      </section>
    </section>
  </section>
  </section>

  <!-- Projects -->
  <!-- If you have more projects you are working on at the moment, or just want to show more, double the whole section below without the title and you are good to go -->
  <section>
    <h3 class="main-title center padding">Mine Prosjekter</h3>
  </section>
  <section class="wrapper">
    <section class="column card justify flex">
      <img class="box" style="width:250px; align-self: center;" src="././images/1_zlt_wRZCGofSbmSqduds9w.png"
        alt="project1">
      <p class="padding bold center">AI CHATBOT</p>
      <p>En AI chatbot om meg selv!</p>
      <p>Denne chatbotten ble laget slik at AKKURAT DU kan trykke på den, og finne ut mer om meg. Om det er noe den ikke
        kan svare på, må du gjerne kontakt meg direkte :)</p>
      <p class="padding-top bottom"><a href="portfolio.html" class="button-outline">AI CHATBOT</a></p>
    </section>
    <section class="column card justify flex">
      <img class="box" style="width:250px; align-self: center; padding-top: 13px;" src="./../data/img/byggservice.png"
        alt="project2">
      <p class="padding bold center">Nettside for tømrer-firma</p>
      <p>Freelance, mitt første prosjekt</p>
      <p>En nettside lagt for Angelsen Byggservice på bestilling. Da dem hadde behov for en enkel nettside med enkel
        kontaktinfo og illustrative bilder.</p>
      <p class="padding-top bottom"><a href="www.angelsen-byggservice.no"
          class="button-outline">angelesen-byggservice.no</a></p>
    </section>

  </section>


  <%- include('partials/kontakt') %>
        <%- include('partials/footer') %>

</body>

</html>