<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head.ejs') %>
    <title>Prosjekter | Erik Rasmussen</title>
</head>

<body>
    <%- include('partials/navbar') %>
    <%- include('partials/prosjekter') %>
       
</body>

</html>